#decryptPopup {
    background-color: white;
    position: absolute;
    margin-left: 300%;
    margin-top: -100%;
    padding: 40px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#decryptButton {
    margin-top: 5%;
    float: right;
    margin-right: 0;
}

.error {
    color: red;
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}